<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 <!--   <typeAliases>
        <typeAlias alias="Integer" type="java.lang.Integer" />
        <typeAlias alias="Long" type="java.lang.Long" />
        <typeAlias alias="HashMap" type="java.utils.HashMap" />
        <typeAlias alias="LinkedHashMap" type="java.utils.LinkedHashMap" />
        <typeAlias alias="ArrayList" type="java.utils.ArrayList" />
        <typeAlias alias="LinkedList" type="java.utils.LinkedList" />
    </typeAliases>-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
</configuration>


